<div class="container d-flex justify-content-center my-3">
  <button
    type="button"
    class="btn btn-primary position-relative"
    (click)="setLike(recipe()?.id_recipe)"
  >
    <input
      type="text"
      [value]="recipe()?.name_recipe"
      (input)="setName(recipe()?.id_recipe, $event)"
    />
    <!-- $event = Objeto del evento -->

    <span
      class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
    >
      {{ recipe()?.like_recipe }} ❤️
      <span class="visually-hidden">unread messages</span>
    </span>
  </button>
</div>
