<!--

El BUSCADOR tendrtía que "borrarse" "resetear" queda raro que siempre tenga la busqueda aunque estes en otra parte de la apicación.
AQUI FALTA METER TITULO Y BUSCADOR GRANDE PARA HOME 

-->

<div style="margin-top: 150px"></div>
<!-- File: src/app/pages/home/home.component.html -->
<h1 class=" display-1 text-center my-3">{{ title }}</h1>

<p class="text-center w-75 mx-auto lead mb-5 text-muted ">
  ¡Bienvenida a mi recetario! <br> Aquí encontrarás una variedad de recetas
  deliciosas y fáciles de preparar. Desde platos principales hasta postres, hay
  algo para todos los gustos. Explora las categorías y descubre nuevas ideas
  para tus comidas diarias. <br><br> ¡Espero que disfrutes cocinando. ¡Buen provecho!
</p>
<h1 class="display-4 text-center my-3">Descubre recetas</h1>

<app-carousel />
<h1 class="display-4 text-center my-3">Categorías</h1>
<app-carousel />
<app-carousel />
<app-carousel />
<app-carousel />
